@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.App {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100vh;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.tooltip-btn {
  background-color: #3b82f6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}

.tooltip-btn:hover {
  background-color: #60a5fa;
}
